@model IEnumerable<TimiTS.Models.WorkParticipation>

@{ 
    ViewData["Title"] = "Fravær";
}

@*@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.13/datatables.min.css"/>
}*@



<div class="text-center">
    <h2>
        Fravær
    </h2>
</div>

<table class="table table-striped table-bordered"   id="AbsenceTable">
    <thead>
        <tr>
            <th>
                Ansatt ID
            </th>
            <th>
                Navn
            </th>
            <th>
                Fraværsgrunn
            </th>

            <th>
                Fraværsdato
            </th>

            <th>
                Fraværstimer
            </th>
            <th>
                Kommentar
            </th>
            <th>
                Handling
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id.EName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id.EName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WTId.WTType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTimeIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>

                    @*<a asp-action="Overview" asp-route-id="@item.WPId">Oversikt</a> |*@
                    <a asp-action="Edit" asp-route-id="@item.WPId">Rediger</a> |
                    <a asp-action="Delete" asp-route-id="@item.WPId">Slett</a>
                  
                </td>
            </tr>
        }
    </tbody>
</table>



@section scripts{
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
<script>
        $(document).ready(function () {
            $('#AbsenceTable').DataTable();
        });
</script>
}